  <!-- Left Sidenav -->
  <div class="left-sidenav">
     <ul class="metismenu left-sidenav-menu">
          
          <li class="<%= currentUrl === '/dashboard/' ? 'mm-active' : '' %> ">
               <a href="/dashboard"><i class="ti-bar-chart"></i><span>Dashboard</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          </li> 
          
          <li class=" <%= currentUrl === '/new-task' ? 'mm-active' : '' %> ">
               <a href="/new-task"><i class="ti-bar-chart"></i><span>Create Task</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          </li> 
            
     </ul>
 </div>
 <!-- end left-sidenav-->